<app-header></app-header>
<div class="main-content">
  <div class="example-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>My Cart({{cartItems}})
          <br>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <img mat-card-image class="card" src="../assets/Image 10.png" alt="picture">
        &nbsp;&nbsp;
        <div>Dont make me
          <br> <span style="color: rgba(88, 84, 84, 0.837);">by
            Sourabh</span>
          <br><br>&nbsp;&nbsp; Rs.150
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="actions">
          <button class="circle" (click)="decrease()" >-</button>
          <div class="rectangle">{{cartItems}}</div>
          <button class="circle" (click)="increase()" >+</button>
        </div><button style="margin-left: 30px; padding:10px;"  routerLink="/home">Remove</button>
      </mat-card-actions>
      <button  class="order-button" mat-raised-button color="primary" *ngIf="customerDetails" (click)="customer()" >Place Order</button>
    </mat-card>

  </div>
  <div>
    <mat-card><h3>Customer Details</h3>
      <div *ngIf="!customerDetails" >
        <div>
          <div class="edit"><button>edit</button></div>
          <br>
          <div class="label">
              <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name">
              </mat-form-field> &nbsp;&nbsp;&nbsp;
              <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name">
              </mat-form-field>
          </div>
          <div class="label">
              <mat-form-field appearance="outline">
                  <mat-label>pincode</mat-label>
                  <input matInput placeholder="Pin code">
              </mat-form-field> &nbsp;&nbsp;&nbsp;
              <mat-form-field appearance="outline">
                  <mat-label>Locality</mat-label>
                  <input matInput placeholder="Locality">
              </mat-form-field>
          </div><label>Address</label>
          <div class="label">
              
              <textarea name="text" cols="64" rows="5"></textarea>
          </div><br><br>
          <div class="label">
              <mat-form-field appearance="outline">
                  <mat-label>city/town</mat-label>
                  <input matInput placeholder="city">
              </mat-form-field> &nbsp;&nbsp;&nbsp;
              <mat-form-field appearance="outline">
                  <mat-label>Locality</mat-label>
                  <input matInput placeholder="Landm">
              </mat-form-field>
          </div>
          <div>
              <mat-label>Type</mat-label><br>
              <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Home</mat-radio-button>
                  <mat-radio-button value="2">Work</mat-radio-button>
                  <mat-radio-button value="2">other</mat-radio-button>
              </mat-radio-group>
          </div>
          <button mat-raised-button color="primary" *ngIf="order" (click)="orderSummary()">Continue</button>
      </div></div>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <h3>Order Summary</h3>
      <div *ngIf="!order">
      <mat-card-content class="content" >
        <img mat-card-image class="card" src="../assets/Image 10.png" alt="picture">
        &nbsp;&nbsp;
        <div>Dont make me
          <br> <span style="color: rgba(88, 84, 84, 0.837);">by
            Sourabh</span>
          <br><br>&nbsp;&nbsp; <span>Rs:{{150*cartItems}}</span>
        </div>
      </mat-card-content>
      <mat-card-actions class="checkout">
        <button mat-raised-button color="primary">checkout</button>
      </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>